<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <!--<servlet>
	<servlet-name>Test</servlet-name>
	<servlet-class>com.Learning.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Test</servlet-name>
	<url-pattern>/add</url-pattern>
	
  </servlet-mapping>
    <servlet>
	<servlet-name>TestSQ</servlet-name>
	<servlet-class>com.Learning.SqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>TestSQ</servlet-name>
	<url-pattern>/sq</url-pattern>	
  </servlet-mapping>-->
   <servlet>
	<servlet-name>TestServlet</servlet-name>
	<servlet-class>com.Learning.UserServlet</servlet-class>
	<init-param>
	 <param-name>name</param-name>
  <param-value>Sam</param-value>
	</init-param>
		<init-param>
	 <param-name>name</param-name>
  <param-value>Chithra</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>TestServlet</servlet-name>
	<url-pattern>/home</url-pattern>	
  </servlet-mapping>
  <context-param>
  <param-name>name</param-name>
  <param-value>Roopa</param-value>
  </context-param>
  <context-param>
  <param-name>Phone</param-name>
  <param-value>Oneplus Nord</param-value>
  </context-param>
</web-app>